__pycache__
*.aux
*.log
*.pdf
*.out
*-blx.bib
*.bbl
*.blg
*.run.xml
*.nav
*.snm
*.toc
models/*.fzn
models/*.ozn
clique.*
subgraph.*
.Rhistory
graphs/dimacs/
graphs/dzn/
*.csv
*.o
*.swp
max-weight-clique/colour_order
max-weight-clique/russian_dolls