__pycache__
results/*.aux
results/*.log
results/*.pdf
results/*.out
results/*-blx.bib
results/*.bbl
results/*.blg
results/*.run.xml
models/*.fzn
models/*.ozn
clique.*
subgraph.*
.Rhistory
graphs/dimacs/
graphs/dzn/
*.csv
*.o
*.swp
max-weight-clique/colour_order
max-weight-clique/russian_dolls