__pycache__
generated.dzn
results/report.aux
results/report.log
results/report.pdf
results/report.out
models/*.fzn
models/*.ozn
mc.*
mcis.*
.Rhistory
graphs/cmu/
graphs/clique1/
graphs/clique2/
graphs/dimacs/
graphs/ged/
*.csv
*.o
*.swp
max-weight-clique/colour_order
max-weight-clique/russian_dolls